@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-color: rgba(146, 158, 176, 1);
  --gradient-3: linear-gradient(
    to right,
    #945dd6 0%,
    #6978d1 50%,
    #13adc7 100%
  );
}
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background-color: #d1e5ff;
}
::-webkit-scrollbar-thumb{
  background: var(--gradient-3);
  border-radius: 10px;
}
.icons {
  width: 27px;
  height: 27px;
}
html {
  scroll-behavior: smooth;
}

.cursor {
  position: fixed;
  pointer-events: none;
  box-shadow: 0 40px 100px 23px #13adc7;
  z-index: 9999;
}
.container-profile {
  position: relative;
  display: inline-block;
  padding: 2px;
  border-radius: 50%;
  background: linear-gradient(to right, #945dd6, #6978d1, #13adc7);
}

.container-profile::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #13adc7;
  border-radius: 50%;
  filter: blur(20px);
  z-index: -1;
}
.profile-glow {
  position: absolute;
  height: 112px;
  width: 112px;
  top: 60%;
  left: 60%;
  border-radius: 50%;
  background: linear-gradient(to right, #945dd6, #6978d1, #13adc7);
  box-shadow: 0 40px 50px -23px #13adc7;
}
.profile-glow-2 {
  position: absolute;
  border-radius: 50%;
  height: 366px;
  width: 366px;
  right: 10%;
  background: #0f1624;
}
@media (min-width: 768px) {
  .profile-glow-2 {
    position: absolute;
    border-radius: 50%;
    height: 532px;
    width: 532px;
    right: 10%;
    background: #0f1624;
  }
  .profile-glow {
    position: absolute;
    height: 164px;
    width: 164px;
    top: 60%;
    left: 60%;
    border-radius: 50%;
    background: linear-gradient(to right, #945dd6, #6978d1, #13adc7);
    box-shadow: 0 40px 50px -23px #13adc7;
  }
}

.profile-glow-2::before {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to right, #945dd6, #6978d1, #13adc7);
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: -1px;
}

.card {
  position: relative;
  width: 90%;
  background: #0f1624;
  border-radius: 25px;
  
}
@media (max-width: 640px) {
 .card{
  width: 100%;
 }
}

.card::before {
  position: absolute;
  border-radius: 25px;
  background: linear-gradient(to right, #945dd6, #6978d1, #13adc7);
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: -1px;

}

.profile-image {
  border-radius: 50%;
  display: block;
  position: relative;
  width: 50vw;
  height: auto;
  max-width: 300px;
}

.text {
  background: var(--gradient-3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-hero {
  font-size: 64px;
}
.download-button {
  background: var(--gradient-3);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s ease;
  width: 226px;
  height: 78px;
  font-size: 18px;
  box-shadow: 0 40px 100px -23px #13adc7;
}
@media (max-width: 768px) {
  .download-button {
    width: 156px;
    height: 55px;
    font-size: 14px;
  }
  .button{
    width: 156px;
    height: 55px;
    font-size: 14px;
  }
}


.download-button:hover {
  opacity: 0.8;
}
.gray {
  color: var(--custom-color);
}
.button {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s ease;
  width: 226px;
  height: 78px;
  font-size: 18px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back-gradient {
  background: var(--gradient-3);
}
.shadow-button {
  box-shadow: 0 40px 100px -23px #13adc7;
}
.button-second {
  border: 1px solid white;
}

.button:hover {
  opacity: 0.8;
}

.text-others {
  color: #6978d1;
}

.text-1 {
  color: #13adc7;
}

@media (min-width: 640px) {
}

@media (min-width: 1024px) {
}
.capitalize-sentences {
  text-transform: lowercase;
}

.capitalize-sentences::first-letter,
.capitalize-sentences::after {
  text-transform: uppercase;
}

.capitalize-sentences::after {
  content: ". ";
  font-size: 0;
}
